.block-imagetext {
  display: grid;

  @media (width > 650px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  figure {
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  > div {
    padding: 2em;
    align-self: center;
    justify-self: center
  }
}

.block-imagetext:nth-child(even) {
  > div {
    grid-column: 1;
    grid-row: 1;
  }
  > figure {
    grid-row: 1;
    grid-column: 2;
  }
}