.block-imagetext {
  display: grid;
  grid-template-columns: subgrid;
  min-height: min(50vh, 700px);
  row-gap: 3rem;
  grid-template-areas: "image image image image" ". text text .";
  
  &.width-box {
    grid-template-areas: "image image" "text text";
  }

  @media (width > 800px) {
    grid-template-areas: "image image text .";

    &.width-box {
      grid-template-areas: "image text";
    }
    &.box-fill figure {
      margin-left: calc(var(--row-padding) * -1);
    }

    > div {
      padding: 0 0 0 3rem;
    }
  }

  figure {
    grid-area: image;
    margin: 0;
    padding: 0;
    margin-top: calc(var(--row-padding) * -1);

    @media (width <= 800px) {
      margin-left: calc(var(--row-padding) * -1);
      margin-right: calc(var(--row-padding) * -1);
    }

    @media (width > 800px) {
      margin-bottom: calc(var(--row-padding) * -1);
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  > div {
    grid-area: text;
    align-self: center;
  }
}

.block-imagetext:nth-child(even) {
  @media (width > 800px) {
    grid-template-areas: ". text image image";

    &.width-box {
      grid-template-areas: "text image";
    }
    &.box-fill figure {
      margin-right: calc(var(--row-padding) * -1);
    }

    > div {
      padding: 0 3rem 0 0;
    }
    figure {
      margin-left: calc(var(--column-gap) * -1);
    }
  }
}