body {
  --row-gap: 4rem;

  display: grid;
  grid-template-columns: minmax(2rem, 1fr) [start] minmax(0, 617px) [center] minmax(0, 617px) [end] minmax(2rem, 1fr);

  > * {
    grid-column: 1 / -1;
  }
}
.ly-blocks {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  row-gap: var(--row-gap);
  margin-top: calc(150px + 5vh);
}
