.block-video {
  display: grid;
  grid-template-columns: subgrid;
  margin: 0;
  padding: 0;

  video {
    display: block;
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    grid-column: 1 / -1;
  }
  figcaption {
    grid-column: start / end;
  }
  p {
    margin-bottom: 0;
  }
}