<figure class="block-video theme is-light box-fill is-fill width-full">
  <video src="{{ block.src }}"
  {{
    block.mode === 'background'
      ? 'autoplay muted playsinline loop'
      : block.mode === 'video'
      ? 'controls'
      : ''
  }}
  ></video>

  {{ if block.caption }}
    <figcaption>
    {{ block.caption |> md }}
    </figcaption>
  {{ /if }}
</figure>
