.frame-border {
  border: solid 2px var(--color-lines);
  margin: 4rem 0;
  padding: clamp(2rem, 5vw, 4rem);
  box-shadow: 0 8px 0 -4px var(--color-lines);
}

.frame-top-bottom-border {
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: var(--color-lines);
  padding: 4rem 0;
  margin: 4rem 0;
}

.frame-fill {
  padding: clamp(2rem, 5vw, 4rem);

  @media (width < 900px) {
    padding: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
  }
}
