.block-faq {
  display: grid;
  row-gap: 2rem;
  column-gap: 4rem;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: var(--color-lines);
  padding: 4rem 0;

  @media (width > 1050px) {
    grid-template-columns: minmax(0, 360px) minmax(0, 1fr);
  }
}