.button {
  display: inline-flex;
  column-gap: .5em;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 1px transparent;
  padding: 1em 1.5em;
  min-height: 2.5em;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 100ms;

  &:disabled,
  &[aria-disabled="true"] {
    cursor: default;
    opacity: .33;
    pointer-events: none;
  }
}