html {
  scroll-padding-top: 150px;
}
.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: minmax(0, 620) minmax(0, 652);
  justify-content: center;
  width: 100%;
  padding: 1rem;
  font-family: var(--font-family-ui);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-2-size);
  letter-spacing: var(--font-2-spacing);
  line-height: var(--line-height-text);
  z-index: 2;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: color-mix(in srgb, var(--color-primary), black 5%);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  overflow: hidden;

  a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    &:hover {
      background-color: color-mix(in srgb, var(--color-primary), black 10%);
    }

    &.is-highlight::after {
      content: "";
      display: inline-block;
      width: .5em;
      height: .5em;
      background-color: var(--color-secondary);
      border-radius: 50%;
      position: relative;
      top: -.5em;
      animation: bouncing-y 500ms ease-in infinite alternate;
    }
  }
  > li:first-child a {
    padding-left: 2em;
  }
}

@keyframes bouncing-y {
  0%   {transform: translateY(0%)}
  100% {transform: translateY(100%)}
}

.navbar-cta {
  background-color: var(--color-secondary);
  padding: 1em 2em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  text-decoration: none;
  color: var(--color-dark);
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: .5em;

  &:hover {
    background-color: color-mix(in srgb, var(--color-secondary), black 5%);

    svg {
      animation: bouncing-x 400ms ease-out infinite alternate;
    }
  }

  svg {
    width: 1em;
    height: 1em;
  }
}

@keyframes bouncing-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(8px);
  }
}