<div class="block-header theme is-primary box-fill width-full">
  <header>
    <h1>{{ block.title |> md(true) }}</h1>
    {{ block.intro |> md }}
  </header>
  <div class="block-header-text">
    {{ block.text |> md }}
  </div>
</div>
