---
layout: ./base.vto
styles: /styles/home.css
---

<nav class="navbar">
  <ul class="navbar-menu">
    {{ for item of menu }}
    <li>
      <a href="{{ item.url}}" {{ item.highlight ? 'class="is-highlight"' : '' }}>
        {{ item.text }}
      </a>
    </li>
    {{ /for }}
  </ul>

  <a href="{{ cta.url }}" class="navbar-cta">
    {{ cta.text }}
  </a>
</nav>

{{ include "blocks.vto" { blocks } }}
