.block-header {
  display: grid;
  grid-template-columns: minmax(0, 1234px);
  justify-content: center;
  padding-top: max(10vh, 8rem);
  padding-bottom: 10vh;
  text-align: right;
  font-family: var(--font-family-display);
  font-size: var(--font-5-size);
  letter-spacing: var(--font-5-spacing);

  h1 {
    font-size: var(--font-10-size);
    font-weight: var(--font-weight-bolder);
    letter-spacing: var(--font-10-spacing);
    line-height: var(--line-height-title);
    text-transform: uppercase;
    margin: 0;
  }
  > * {
    grid-column: 1;
  }
}
.block-header-text {
  max-width: 900px;
  margin: 0 0 0 auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    font-family: var(--font-family-ui);
    font-size: var(--font-6-size);
    font-weight: var(--font-weight-bolder);
    letter-spacing: var(--font-6-spacing);
    line-height: var(--line-height-title);
    text-transform: uppercase;
  }

  li + li::before {
    content: "";
    display: block;
    width: .5em;
    height: .5em;
    background-color: var(--color-secondary);
    border-radius: 50%;
    margin: 0 .25em;
  }
  li {
    display: flex;
    align-items: center;
  }

  a {
    display: block;
    text-decoration: none;
  }
  a[data-hover] {
    --offset: .75em;
    position: relative;
    overflow: hidden;

    &::before,
    strong {
      transition-duration: 0.2s;
      transition-property: color, opacity, transform;
      display: block;
      white-space: nowrap;
    }

    &::before {
      content: attr(data-hover);
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(var(--offset));
      color: var(--color-dark);
      opacity: 0;
    }

    &:hover{
      &::before {
        transform: translateY(0);
        opacity: 1;
      }
      strong {
        transform: translateY(calc(var(--offset) * -1));
        opacity: 0;
      }
    }
  }
}