@layer reset, ui, blocks, theme;

@import "styles/reset.css" layer(reset);
@import "styles/layouts.css" layer(reset);

/* Generic UI components */
@import "styles/ui/accordion.css" layer(ui);
@import "styles/ui/button.css" layer(ui);

/* Blocks */
@import "blocks/contact/contact.css" layer(blocks);
@import "blocks/faq/faq.css" layer(blocks);
@import "blocks/header/header.css" layer(blocks);
@import "blocks/imagetext/imagetext.css" layer(blocks);
@import "blocks/location/location.css" layer(blocks);
@import "blocks/pdf/pdf.css" layer(blocks);
@import "blocks/text/text.css" layer(blocks);
@import "blocks/video/video.css" layer(blocks);

/* Theme */
@import "styles/theme/variables.css" layer(theme);
@import "styles/theme/typography.css" layer(theme);
@import "styles/theme/variants.css" layer(theme);

/* Extra resets */
@layer reset {
  html {
    scroll-behavior: smooth;
    text-rendering: auto;
    overflow-wrap: break-word;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-light);
    color: var(--color-dark);
  }
  
  :focus {
    z-index: 1;
  }
  
  :focus-visible {
    outline-width: 1px;
    outline-offset: 2px;
    outline-style: solid;
    outline-color: currentColor;
  }
  h1, h2, h3 {
    text-wrap: balance;
  }
}
