@font-face {
	font-family: 'Roobert';
	src: url("../fonts/RoobertVF.woff2") format('woff2-variations');
	font-weight: 300 900;
	font-style: normal;
}
@font-face {
	font-family: 'Roobert';
	src: url("../fonts/RoobertVFItalics.woff2") format('woff2-variations');
	font-weight: 300 900;
	font-style: italic;
}

:root {
  /* Colors */
  --color-primary: #00ab7d;
  --color-secondary: #ffb0bf;
  --color-dark: #00385e;
  --color-light: #f7f2eb;

  /* Fonts */
  --font-family-display: Roobert;
  --font-family-ui: Roobert, system-ui, sans-serif;
  --font-weight-bold: 750;
  --font-weight-bolder: 900;

  /* Borders */
  --border-weight: 2px;
}

.box-border {
  box-shadow: 0 8px 0 -4px var(--color-lines);
}


.block-hero {
  display: grid;
  grid-template-columns: minmax(0, 1234px);
  justify-content: center;
  padding-top: max(10vh, 10rem);
  padding-bottom: 10vh;
  text-align: right;
  font-family: var(--font-family-display);
  font-size: var(--font-5-size);
  letter-spacing: var(--font-5-spacing);
  background-image: image-set(url("../files/img-home.png") 2x);
  background-repeat: no-repeat;
  background-position: right calc(66% + 300px) bottom;
  background-size: clamp(600px, 50vw, 800px) auto;
  
  @media (width > 1400px) {
    background-position: right calc(66% + 400px) bottom;
    background-size: auto 90%;
  }

  @media (width < 600px) {
    background-position: center bottom;
    background-size: 100% auto;
    padding-bottom: 80vw;
  }

  h1 {
    margin: 0;

    img {
      width: clamp(300px, 50vw, 550px);
      margin-bottom: 1em;
    }
  }
  p {
    margin: 0 0 1em 0;
  }
  > * {
    grid-column: 1;
  }
}
.block-hero-text {
  width: clamp(400px, 66%, 750px);
  max-width: 100%;
  margin: 0 0 0 auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    font-family: var(--font-family-ui);
    font-size: var(--font-6-size);
    font-weight: var(--font-weight-bolder);
    letter-spacing: var(--font-6-spacing);
    line-height: var(--line-height-title);
    text-transform: uppercase;
  }

  li + li::before {
    content: "";
    display: block;
    width: .5em;
    height: .5em;
    background-color: var(--color-secondary);
    border-radius: 50%;
    margin: 0 .25em;
  }
  li {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
  }

  a {
    display: block;
    text-decoration: none;
  }
  a[data-hover] {
    --offset: .75em;
    position: relative;
    overflow: hidden;

    &::before,
    strong {
      transition-duration: 0.2s;
      transition-property: color, opacity, transform;
      display: block;
      white-space: nowrap;
    }

    &::before {
      content: attr(data-hover);
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(var(--offset));
      color: var(--color-dark);
      opacity: 0;
    }

    &:hover{
      &::before {
        transform: translateY(0);
        opacity: 1;
      }
      strong {
        transform: translateY(calc(var(--offset) * -1));
        opacity: 0;
      }
    }
  }
}